parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$className of method Doctrine\\ORM\\EntityManagerInterface\:\:getRepository\(\) expects class\-string\<object\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/OrmEntityDataListCommand.php

		-
			message: '#^Unable to resolve the template type T in call to method Doctrine\\ORM\\EntityManagerInterface\:\:getRepository\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Command/OrmEntityDataListCommand.php

		-
			message: '#^Call to method setDefaultLocale\(\) on an unknown class Gedmo\\Translatable\\TranslatableListener\.$#'
			identifier: class.notFound
			count: 1
			path: src/Command/OrmTranslatableEntityDataListCommand.php

		-
			message: '#^Call to method setTranslatableLocale\(\) on an unknown class Gedmo\\Translatable\\TranslatableListener\.$#'
			identifier: class.notFound
			count: 1
			path: src/Command/OrmTranslatableEntityDataListCommand.php

		-
			message: '#^PHPDoc tag @var for variable \$translatable contains unknown class Gedmo\\Translatable\\TranslatableListener\.$#'
			identifier: class.notFound
			count: 1
			path: src/Command/OrmTranslatableEntityDataListCommand.php
